<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  
  <test name="Test" thread-count="5">
    
    <groups>
      <run>
        <include name="regression"/>
        <exclude name = "sanity"/>
      </run>
    </groups>
    
    <classes>
      <class name="roughWork.OmnicChannelNew"/>
    </classes>
    
  </test>
  
</suite>